body {
  background-color: #a599bf;
}

h1 a {
  color: #2faf50;
}

h2 {
  color: #445
}

a {
  color: #123C69;
  font-weight: bold;
}

.portrait {
  width: 134px;
  border-radius: 10px;
}

.bio .portrait {
  float: left;
  margin: 0 1em 0 0;
}

.books {
  list-style: none;
}

.books .book {
  display: flex;
  align-items: center;
  margin: 1em 0 0 0;
}

.books .book .cover {
  width: 120px;
  text-align: center;
}

.books .book .info {
  margin: 0 0 0 1em;
}

.books .book .info .title {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 0 .4em 0;
}

.books .book .info p {
  margin: 0;
  padding: 0;
}

.author-picture {
  width: 134px;
}

.book-cover {
  width: 80px;
}

footer {
  margin: 4em 0 0 0;
  padding: 1em 0 1em 0;
  border-top: 1px solid #BAB2B5;
  color: #BAB2B5;
}

footer a {
  color: #BAB2B5;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #e0dbdf;}

a.disabled {
  pointer-events: none;
  color: #999;
  background-color: #C1C1C1;
}

h1 a:hover {
  color: #32CD32
}

.items-dropdown {
  color: #445;
  font-weight: bold;
  background-color: #a599bf;
  border: 1px solid #DDD;
  width: fit-content;
}
